.container{
    display: flex;
    width: 100%;
    margin: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container  :hover{
color: rgb(9, 9, 91);
cursor: pointer;
}
.add{
    
 justify-content:  center;
 display: flex;
 margin-top: 25px;
}
.Conta{
    color: white;
}